.carousel-item img {
    opacity: 0.8;
    height: calc(100vh - 50px);
    object-fit: cover;
    object-position: center;
}

.carousel-item {
    height: 100%;
}

.carousel h3 {
    font-size: calc(4rem + .6vw);
    margin-bottom: 3rem;
    background-image: linear-gradient(135deg, rgb(64, 31, 130), rgb(227, 131, 5));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: bold;
    text-transform: uppercase;
    /* width and color */

    font-family: sans;
    color: yellow;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}